
 .gridNav {
    display: grid;
    grid-template-areas: 
    "n n n n";
  }

  .navWrap{
    margin-top: 30px;
    grid-area: n;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
  }

  .mag{
    grid-area: n;
    height: 15px;
    width:15px;
    margin-top: 1px;

  }

  .sf{
    height:30px;
    width:400px;
  }

  .select{
    height:35px;
  }
  nav{
    width:100%;
  }
  .logo .ytlogo{
    height: 30px;
    width:90px;

  }
  .sb{
    font-size: 25px;
  }
  .navWrap .sb {
    margin-top: 300px;
    width: 500px;
    height: 24px;
    margin-top: 2px;
   
  }
  .imgBut .mag {
    height: 18px;
    width: 20px;
    float:30px;
 }