body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
  grid-template-areas: 
  "n1 n1 n2 n2 n3 n3"
  "b c c c c c"
  "b c c c c c"
  ;
}

.ytlogo{
  grid-area: n1;
  display:grid;
}
.search{
  grid-area: n2;
  display:grid;
}
.searchBox{
  grid-area: n2;
  display:grid;
}